{% extends "source/base.html" %}

{% block slides %}
{% include "source/title.html" %}
{% include "source/overview.html" %}
{% include "source/part1.html" %}
{% include "source/prerequisites.html" %}
{% include "source/ssh.html" %}
{% include "source/autocomplete.html" %}
{% include "source/man.html" %}
{% include "source/commands.html" %}
{% include "source/navigating.html" %}
{% include "source/filesystem.html" %}
{% include "source/createfiles.html" %}
{% include "source/symlinks.html" %}
{% include "source/permissions.html" %}
{% include "source/change_permissions.html" %}
{% include "source/readfiles.html" %}
{% include "source/history.html" %}
{% include "source/archiving.html" %}
{% include "source/sudo.html" %}
{% include "source/who.html" %}
{% include "source/packagemanagers.html" %}
{% include "source/aptget.html" %}
{% include "source/wget.html" %}
{% include "source/which.html" %}
{% include "source/processes.html" %}
{% include "source/part2.html" %}
{% include "source/nano.html" %}
{% include "source/vim.html" %}
{% include "source/zsh.html" %}
{% include "source/tmux.html" %}
{% include "source/dotfiles.html" %}
{% include "source/aliases.html" %}
{% include "source/bin.html" %}
{% include "source/shellscripts.html" %}
{% include "source/hashbang.html" %}
{% include "source/crontab.html" %}
{% include "source/part3.html" %}
{% include "source/git.html" %}
{% include "source/virtualenv.html" %}
{% include "source/python.html" %}
{% include "source/ruby.html" %}
{% include "source/obsrvr.html" %}
{% include "source/nodejs.html" %}
{% include "source/lessc.html" %}
{% include "source/part4.html" %}
{% include "source/dotfiles.html" %}
{% include "source/github.html" %}
{% include "source/install.html" %}
{% include "source/sed.html" %}
{% include "source/pipes.html" %}
{% include "source/services.html" %}
{% endblock %}
