{% extends "source/base.html" %}

{% block slides %}
{% include "source/title.html" %}
{% include "source/overview.html" %}
{% include "source/install.html" %}
{% include "source/ssh.html" %}
{% include "source/autocomplete.html" %}
{% include "source/man.html" %}
{% include "source/commands.html" %}
{% include "source/navigating.html" %}
{% include "source/filesystem.html" %}
{% include "source/createfiles.html" %}
{% include "source/symlinks.html" %}
{% include "source/permissions.html" %}
{% include "source/change_permissions.html" %}
{% include "source/readfiles.html" %}
{% include "source/history.html" %}
{% include "source/archiving.html" %}
{% include "source/sudo.html" %}
{% include "source/who.html" %}
{% include "source/packagemanagers.html" %}
{% include "source/aptget.html" %}
{% include "source/wget.html" %}
{% include "source/which.html" %}
{% include "source/processes.html" %}
{% endblock %}
